<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <section class="products-show">
    <%= render 'line-item' %>
  <section>
  
  <section class="products-show">
    <article class="product-detail">
    <div class="quantity" style="align-items: flex-start; margin: 40px 0; font-size: 30px">
      <p>Order Total <%=humanized_money_with_symbol @order.total_cents / 100 %> By:</p>
      <p><%=@order.email %></p>
    </div>
  </article>
  <section>


  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
